.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40rem;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  text-align: center;
}

.submit-button {
  width: 6rem;
  align-items: center;
}
